body {
  /* TODO extract color and transparency variables */
  background-image: linear-gradient(
      var(--background-angle),
      #ccc 25%,
      transparent 25%
    ),
    linear-gradient(
      calc(var(--background-angle) - 90deg),
      #ccc 25%,
      transparent 25%
    ),
    linear-gradient(
      calc(var(--background-angle) + 0deg),
      transparent 75%,
      #ccc 75%
    ),
    linear-gradient(
      calc(var(--background-angle) - 90deg),
      transparent 75%,
      #ccc 75%
    );
  background-size: var(--background-size) var(--background-size);
  background-repeat: repeat;
}
