/* TODO */
:root {
  --color-primary-default: #ab9a8c;
  --color-secondary-default: #d9dee3;
  --color-accent: #8b7665;

  --color-text-primary: #151a1e;
  --color-text-alt: #e1e6ea;
  --color-background: #e1e6ea;

  /* TODO handle dark mode */

  .dark-mode {
    --color-primary-default: #ab9a8c;
    --color-secondary-default: #0f1216;
    --color-accent: #cec5bc;

    --color-text-primary: #e1e6ea;
    --color-text-alt: #151a1e;
    --color-background: #151a1e;
  }

  --font-family-primary: 'Montserrat', sans-serif;

  --font-weight-light: 300;
  --font-weight-default: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  --font-size-xxsmall: 0.8125rem;
  --font-size-xsmall: 0.875rem;
  --font-size-small: 0.9375rem;
  --font-size-default: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 1.875rem;
  --font-size-xxlarge: 2.5rem;
  --font-size-xxxlarge: 3.5rem;

  --spacing-xxsmall: 0.5rem;
  --spacing-xsmall: 0.75rem;
  --spacing-small: 0.875rem;
  --spacing-default: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-xxlarge: 3rem;

  --bkg-size: 12rem;
  --bkg-color-top: red;
  --bkg-color-side: #4e4f51;
  --bkg-color-bottom: #3c3c3c;
}
